<h1>Editing <%= @song.title %></h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />

  <%= f.submit %>
<% end %>
<br>
<%= form_for(@song, method: :destory) do |f| %>
  <%= f.submit "Delete Song" %>
<%end%>
